{% extends 'agenda/base.html' %} {% block main %}
<section>
  <h2>LISTADO DE AGENDA</h2>

  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>CI</th>
        <th>Teléfono</th>
        <th>Correo</th>
      </tr>
    </thead>

    <tbody>
      {% for agenda in agendas %}
      <tr>
        <td>{{ agenda.nombre }}</td>
        <td>{{ agenda.apellido }}</td>
        <td>{{ agenda.ci }}</td>
        <td>{{ agenda.telefono }}</td>
        <td>{{ agenda.correo }}</td>
      </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5">Total de registros: {{ agendas|length }}</td>
      </tr>
    </tfoot>
  </table>
</section>

{% endblock %}
